{% extends 'annonces/base.html' %}
{% block titre %}Messagerie{% endblock %}
{% block contenu %}
<h1>Ma messagerie</h1>
<h3>Messages reçus</h3>
{% for m in recus %}
<div class="bloc">
    <strong>De {{ m.expediteur.username }}</strong> à propos de "<a href="{% url 'detail_annonce' m.annonce.pk %}">{{ m.annonce.titre }}</a>"<br>
    {{ m.contenu }}<br><small>{{ m.date_envoi|date:"d/m/Y H:i" }}</small>
</div>
{% empty %}<p>Aucun message reçu.</p>{% endfor %}

<h3>Messages envoyés</h3>
{% for m in envoyes %}
<div class="bloc">
    <strong>À {{ m.destinataire.username }}</strong> à propos de "{{ m.annonce.titre }}"<br>
    {{ m.contenu }}<br><small>{{ m.date_envoi|date:"d/m/Y H:i" }}</small>
</div>
{% empty %}<p>Aucun message envoyé.</p>{% endfor %}
{% endblock %}
